@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
h2{
    font-family:  "Bebas Neue", sans-serif;
    
    color: white;
    font-style: italic;
    font-weight: lighter;
    font-size: 80px;
    text-decoration:underline;
    text-align: center;
    
    
}
#heading-parent{
    background-image: linear-gradient(45deg,rgb(134, 6, 6),transparent) ,url("../image/image.jpg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    /* background-color: rgb(30, 6, 53); */
    height: 300px;
    padding: 100px 0;
    max-width: 1100px;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto; */
    margin: 30px auto;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.btn{
    background-color: black;
    padding: 10px 15px;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: yellowgreen;
    border-radius: 6px;
    text-align: center;
    font-size: 24px;
    /* margin: 100px;
    padding: 100px; */
    font-family:"Ga Maamli", sans-serif;
    transition: 1ms;
    cursor: pointer;

}
.btn-parent{
     text-align: center;
     margin: 20px 0px;
     /* background-color: beige; */
}
.btn:hover {
    background-color: aquamarine;
}